img {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  border:0px;
  margin:-2px;
}

div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
} 

p, h1, h2, h3, h4 {
  padding-right: 10px;
  padding-left: 10px;
} 

pre, code {
  font-size: 15px;
}

body {
  background-color:whitesmoke;
}



p {
  text-align: justify;
}

