img {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  border:0px;
  margin:-2px;
}

div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
} 

p {
  padding-right: 10px;
  padding-left: 10px;
} 

